@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: radial-gradient(#350E25, #4A1634 , #6F194B );
    color: #fff;
}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}

.display{
    width: 120%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #871D5A;
    color: #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}
.container h1{
    font-weight: 500;
    font-size: 45px;
    color: #C0428A;
    font-family: "Protest Strike";
}
.password{
    font-size: 20px;
    background-color: #871D5A;
    color: #fff;
}

.container h1 span{
    color: #fff ;
    border-bottom: 4px solid #fff ;
    padding-bottom: 7px;
    font-family: "Protest Strike";
}
.display img{
    width: 45px;
    cursor: pointer;
}

.display img:active{
    transform:scale(0.9);
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}
container button img{
    width: 28px;
    margin-right: 10px;
}
.container button{
    font-size: 20px;
    width: 220px;
    border: 0;
    outline: 0;
    background: #C0428A ;
    color: #fff;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}

.container button:active{
    transform:scale(0.9);
}
.buttonBox{
    width: 120%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.counter{
    color: #fff;
    margin-top: 50px;
}
